# CLOCK SOURCE
NET "CLK"			  LOC = "E12"  | IOSTANDARD = LVCMOS33 ;

# COMMON SPI
NET "SPI_MOSI"      LOC = "AB14" | IOSTANDARD = LVTTL | SLEW = SLOW |  DRIVE = 8 ;
NET "SPI_SCK"	     LOC = "AA20" | IOSTANDARD = LVTTL | SLEW = SLOW |  DRIVE = 12 ;

# PGA
NET "AMP_CS"	     LOC = "W6"   | IOSTANDARD = LVTTL | SLEW = SLOW |  DRIVE = 4 ;
NET "AMP_SHDN"      LOC = "W15"  | IOSTANDARD = LVTTL | SLEW = SLOW |  DRIVE = 4 ;

# ADC
NET "AD_CONV"       LOC = "Y6"   | IOSTANDARD = LVTTL | SLEW = SLOW |  DRIVE = 4 ; 
NET "ADC_OUT"       LOC = "D16"  | IOSTANDARD = LVTTL ;

# LED DEBUG
NET "LED<7>" LOC = "W21" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;